/Project/Library
/Project/UnityPackageManager
/Project/Project.sln
/Doc
Res.meta
Resources.meta
Standard Assets.meta
Res
Resources
Standard Assets
.vs
Temp
/Project/Project.CSharp.csproj
/Project/Project.CSharp.Editor.csproj
/Project/Project.CSharp.Plugins.csproj
/Project/Assets/GameMain/UI/Icon
/Project/Assets/GameMain/UI/Icon.meta
/AssetBundle
/Project/obj
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp-Editor.csproj
/Project/Assembly-CSharp-firstpass.csproj
/Project/Project.v11.suo
/Project/.vscode
/Project/Assets/VSCode
/Project/Assets/VSCode.meta
